*{
    margin: 0;
}

.box{
    border: 2px solid red;
}

header{
    grid-area: cabecera;
}

nav{
    grid-area: lado;
    display: flex;
    flex-direction: column;
}

main{
    grid-area: principal;
    display: grid;
    grid-template-columns: auto 6fr 2fr;
    margin: 10px;
    column-gap: 40px;
}

footer{
    grid-area: pie;
}

body{
    display: grid;
    grid-template-areas: 
    'cabecera cabecera'
    'lado principal'
    'pie pie';
    grid-template-columns: 1fr 2fr;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}

    .header{
        background-image: url(../img/bg.jpg);
        background-size: contain;
        display: flex;
        align-items: end;
        height: 600px;
        justify-content: end;
    }

    .nombre{
        color: white;
        text-shadow: black 1px 1px;
    }

    .navbar{
        align-items: center;
        justify-content: start;
        background-color: rgb(202, 248, 248);
    }

    .titulo{
        font-weight: bolder;
        font-size: 3em;
        margin: 10px;
    }

    .categorias{
        color: black;
        text-decoration: none;
        font-size: 2em;
    }

    .cantidad{
        color: gray;
        font-style: italic;
        font-size: 1em;
    }

    .card{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        flex-direction: column;
        gap: 10px;
    }

    .card img{
        width: 600px;
        height: 800px;
    }

    .producto{
        font-size: 2em;
    }

    .precio{
        font-size: 2em;
    }

    .extra{
        font-style: italic;
    }

    .boton{
        background-color: rgb(86, 86, 230);
        color: white;
        width: 20%;
        text-align: center;
        font-size: 2em;
        text-decoration: none;
    }

   .boton:hover{
        background-color: gray;
    }

